<!-- <a routerLink="/medicos">Médicos</a>
<a routerLink="/hospital">Médicos</a>
<a routerLink="/usuario">Médicos</a>
<a routerLink="/hospital">Médicos</a> -->

<app-navbar></app-navbar>

<router-outlet></router-outlet>